.chatWindow {
  table-layout: fixed;
  width: 100%;
  height: 300px;
  white-space: nowrap;
  vertical-align: top;
  overflow: auto;
  border: 1px solid black;
}
.chatWindow2 {
  vertical-align: top;
}

.usersTable {
  table-layout: fixed;
  width: 100px;
  height: 100px;
  white-space: nowrap;
  vertical-align: top;
  border: 1px solid black;
}
.usersTable2 {
  vertical-align: top;
}